{
  "openapi": "3.0.2",
  "info": {
    "title": "Couchbase Capella Management API",
    "version": "v4.0",
    "description": "The Couchbase Capella Management API provides a set of REST APIs for creating and managing Capella instances.\nIt enables users to perform operations such as creating new Capella instances, managing their configurations, and interacting with the Capella services.\nThis API documentation specifies the endpoints, request and response formats, and authentication requirements for seamless integration with Couchbase Capella.\n\nTo access the Management API, you need an API key.\nTo create an initial bootstrap API key you must use the Capella UI.\nOnce you have created an initial bootstrap API key, you can use the Management API itself to create further API keys.\nTo learn more, see [Get Started with the Management API v4.0](https://docs.couchbase.com/cloud/management-api-guide/management-api-start.html).\n\nFor a history of updates to the Management API, see [Management API v4.0 Change Log](https://docs.couchbase.com/cloud/management-api-guide/management-api-log.html).\n\n**API Base URL:**\n\n`https://cloudapi.cloud.couchbase.com`\n\n[Back to Management API v4.0 Documentation](https://docs.couchbase.com/cloud/management-api-guide/management-api-intro.html)\n"
  },
  "servers": [
    {
      "url": "https://cloudapi.cloud.couchbase.com"
    }
  ],
  "security": [
    {
      "token": []
    }
  ],
  "tags": [
    {
      "name": "Alert Integration",
      "description": "Couchbase Capella supports sending Capella alert notifications to the most common service like ServiceNow.\n"
    },
    {
      "name": "Allowed CIDRs (App Services)",
      "description": "App Services only allow trusted IP addresses to connect and use its REST APIs.\nEach App Service has a configurable Allowed IP list that can include up to 75 entries.\nEach entry can be a single IP address or an IP address space.\nAny IP address you add to this list can have a user-specified expiration time for temporary access, or be permanent.\nCapella automatically denies any connection attempts to and from an IP not in the allowed IP list.\n"
    },
    {
      "name": "Allowed CIDRs (Cluster)",
      "description": "Couchbase Capella only allows trusted IP addresses to connect to databases.\nEach database has a configurable Allowed IP list that can include up to 75 entries.\nEach entry can be a single IP address or an IP address space.\nAny IP address you add to this list can have a user-specified expiration time for temporary access, or be permanent.\nCapella automatically denies any connection attempts to and from an IP not in the allowed IP list.\n"
    },
    {
      "name": "Api Keys",
      "description": "Couchbase Capella Management API uses a Bearer token mechanism for authentication; each call to the Management API has to be authenticated by API key."
    },
    {
      "name": "App Endpoints",
      "description": "App Endpoints represent instances of mobile applications on App Services. Each App Endpoint is linked to one bucket and synchronizes data to a set of\nlinked collections. Users can configure App Endpoints, including setting the Access Control function, Import Filter and OpenID Connect (OIDC) authentication configuration.\n"
    },
    {
      "name": "App Services",
      "description": "App Services is a fully managed application backend designed to provide data synchronization between mobile or IoT applications running Couchbase Lite and your Couchbase Capella database.\n"
    },
    {
      "name": "App Services Audit Logging",
      "description": "Users can configure audit log support on Capella App Services and can export audit logs from cloud blob storage to an AWS S3 bucket. Users can retrieve audit logs from a pre-signed download URL. Logs are retained for 30 days."
    },
    {
      "name": "Audit Logs",
      "description": "Users can configure audit log support on Capella database and can export audit logs from cloud blob storage to an AWS S3 bucket. Users can retrieve audit logs from a pre-signed download URL. Logs are retained for 30 days.\n"
    },
    {
      "name": "Backup Schedule (Bucket)",
      "description": "Couchbase supports a robust scheduled backup and retention time policy as part of an overall disaster recovery plan for production data.\nCouchbase Capella supports scheduled and on-demand backups of bucket data.\nA backup can be restored to the same database where it was created or another database in the same organization.\nOn setting up a backup schedule, the bucket automatically backs up the bucket based on the chosen schedule.\n"
    },
    {
      "name": "Backups & Restore (Bucket)",
      "description": "Couchbase supports a robust scheduled backup and retention time policy as part of an overall disaster recovery plan for production data.\nCouchbase Capella supports scheduled and on-demand backups of bucket data.\nA backup can be restored to the same database where it was created or another database in the same organization.\nAn on-demand backup of a bucket is always a Full backup.\nCapella schedules on-demand backup to start immediately.\n"
    },
    {
      "name": "Buckets, Scopes, & Collections",
      "description": "A bucket is the fundamental space for storing data in Couchbase Capella.\nScopes and Collections are logical containers within a bucket and a way for organizing data within buckets.\nA scope is a mechanism for the grouping of multiple collections. A collection is a data container for related documents.\n"
    },
    {
      "name": "CMEK",
      "description": "The CMEK (Customer Managed Encryption Keys) endpoints facilitate the management of encryption keys used by clusters for data encryption.\nThey allow organizations to register, list, retrieve, rotate, and delete the metadata associated with their own encryption keys within Capella.\nThis suite of endpoints ensures that organizations have full control over the lifecycle of their keys, enhancing security and compliance by allowing encryption keys that are managed in external key management services like AWS KMS or GCP KMS to be used within the organization's clusters.\n"
    },
    {
      "name": "Certificates",
      "description": "Couchbase Capella supports the use of x.509 certificates, for clients and servers.\nThis ensures that only approved users, applications, machines, and endpoints have access to system resources.\nConsequently, the mechanism can be used by Couchbase SDK clients to access Couchbase Services, and by source clusters that use XDCR to replicate data to target clusters.\nClients can verify the identity of Couchbase Capella, thereby ensuring that they are not exchanging data with a rogue entity.\n"
    },
    {
      "name": "Cloud Snapshot Backups & Restore",
      "description": "Couchbase supports a robust scheduled backup and retention time policy as part of an overall disaster recovery plan for production data.\nCouchbase Capella supports scheduled and on-demand backups of cloud snapshot data.\nA backup can be restored to the same database where it was created or another database in the same organization.\nA backup can also be cloned to create a new database with the same specifications as the backed up cluster in the same organization.\nAn on-demand backup of a bucket is always a Full backup.\nCapella schedules on-demand backup to start immediately.\n"
    },
    {
      "name": "Cloud Snapshot Backups Schedule",
      "description": "Couchbase supports a robust scheduled backup and retention time policy as part of an overall disaster recovery plan for production data.\nCouchbase Capella supports scheduled and on-demand backups of cloud snapshot data.\nA backup can be restored to the same database where it was created or another database in the same organization.\nOn setting up a backup schedule, the bucket automatically backs up the bucket based on the chosen schedule.\n"
    },
    {
      "name": "Clusters",
      "description": "A Couchbase cluster consists of one or more instances of Couchbase Capella, each running on an independent node.\nData and services are shared across the cluster.\nA cluster may be referred to as a \"database\" in the documentation and in the Couchbase Capella user interface.\n"
    },
    {
      "name": "Database Credentials",
      "description": "Database credentials provide programmatic and application-level access to data on a database.\nOnly database credentials can access data.\n"
    },
    {
      "name": "Events",
      "description": "Events represent a trail of actions that users performs within Capella at an organization or project level\n"
    },
    {
      "name": "Free Tier",
      "description": "Endpoints to manage resources that are available with free tier plan.  These resources are buckets, clusters and app services.\n"
    },
    {
      "name": "Network Peers",
      "description": "Network Peering enables you to configure a secure private network connection between the Virtual Private Cloud (VPC) hosting your applications and the VPC of your Couchbase Capella database.\nYou can set a network peering connection from a Couchbase Capella database hosted with Amazon Web Services (AWS), Google Cloud (GCP) or Azure.\n"
    },
    {
      "name": "On/Off Schedule",
      "description": "The On/Off Schedule endpoint enables you to schedule when your provisioned database should turn on or off to save costs.\nTurning off your database only turns off the compute;\nall of your data, schema (buckets, scopes, and collections), and indexes remain, as well as your cluster configuration, including users and allow lists.\nWhen you turn your provisioned database off, you will be charged the OFF amount for the database.\nYou can turn the cluster and any linked app services on or off on demand using the [cluster API](https://docs.couchbase.com/cloud/management-api-reference/index.html#tag/clusters).\n"
    },
    {
      "name": "Organizations",
      "description": "Couchbase Capella uses an ordered hierarchy to help you keep all of your data organized and securely accessible.\nThe entity at the top of the hierarchy is called an organization.\nEverything you do in Capella, whether it's creating a cluster or managing billing, happens within the scope of an organization.\n"
    },
    {
      "name": "Private Endpoint Service",
      "description": "Access your Capella cluster from your cloud provider's private network.\n"
    },
    {
      "name": "Projects",
      "description": "Projects contain and allow access to Couchbase databases.\nProjects are used to organize and manage groups of Couchbase databases within organizations.\nAn organization can contain any number of projects, and a project can contain any number of databases.\n"
    },
    {
      "name": "Query Indexes",
      "description": "Used to manage primary and secondary indexes on your Capella cluster.  You can CREATE/ALTER/DROP/BUILD indexes.\n\nIt is recommended to use deferred index builds, especially for larger indexes. When creating indexes in bulk, we do not recommend sending requests to create all of them at once. Instead, we strongly recommend creating indexes in batches of 100 or less.\n"
    },
    {
      "name": "Sample Bucket",
      "description": "The sampleBucket endpoint lets users easily create a bucket filled with sample data.\nThis is a quick way for users to try out features and learn how things work with ready-to-use data.\n"
    },
    {
      "name": "Users",
      "description": "To access an organization, your Couchbase Capella user account must be added to it.\nAccounts are added to an organization using email invitations sent from Capella by a user with the Organization Owner organization role.\nAll organization users are given one or more organization roles that define what they can view and manage in their organization.\n"
    }
  ],
  "paths": {
    "/v4/organizations/{organizationId}/cloudAccounts": {
      "parameters": [
        {
          "name": "organizationId",
          "description": "The GUID4 ID of the organization.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "ffffffff-aaaa-1414-eeee-000000000000"
          }
        }
      ],
      "get": {
        "summary": "Get Cloud Accounts",
        "description": "Fetches the cloud account ID associated with the organization. Use this account ID when adding CMEK to other AWS databases in your organization.\n\nTo learn more, see [CMEK at Rest](https://docs.couchbase.com/cloud/security/cmek.html).\n\nIn order to access this endpoint, the provided API key must have at least one of the following roles:\n  - Organization Owner\n  - Project Creator\n  - Organization Member\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "CMEK"
        ],
        "operationId": "getCloudAccounts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "gcp-capella-project",
                    "aws-capella-account",
                    "azure-capella-subscription"
                  ],
                  "properties": {
                    "gcp-capella-project": {
                      "type": "string",
                      "example": "MyApp-Prod-Project",
                      "description": "The GCP project name."
                    },
                    "aws-capella-account": {
                      "type": "string",
                      "example": "MyApp-Prod-Project",
                      "description": "The AWS account ID."
                    },
                    "azure-capella-subscription": {
                      "type": "string",
                      "example": "MyApp-Prod-Project",
                      "description": "The Azure subscription name."
                    }
                  }
                }
              }
            },
            "description": "Successfully fetched the cloud account ID associated with the organization."
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "RateLimitExceeded": {
                    "value": {
                      "httpStatusCode": 429,
                      "code": 1004,
                      "message": "Oops! You've made too many requests. Please wait for time specified in the retryAfter header before trying again.",
                      "hint": "The number of requests allowed per API key has exceeded. Please retry after time specified in the retryAfter header has passed."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/organizations/{organizationId}/apikeys": {
      "parameters": [
        {
          "name": "organizationId",
          "description": "The GUID4 ID of the organization.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "ffffffff-aaaa-1414-eeee-000000000000"
          }
        }
      ],
      "post": {
        "summary": "Create API Key",
        "description": "Creates a new API key under an organization.\n\nOrganization Owners can create Organization and Project scoped API keys.\n\nProject Owner and Project Creator can create project scoped keys.\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Api Keys"
        ],
        "operationId": "postOrganizationAPIKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "organizationRoles"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the API key.\n",
                    "example": "Production"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the API key.\n",
                    "example": "API key to manage production Capella Cluster.",
                    "default": ""
                  },
                  "expiry": {
                    "type": "number",
                    "format": "float",
                    "default": 180,
                    "description": "Expiry of the API key in number of days.\nIf set to -1, the token will not expire.\n"
                  },
                  "allowedCIDRs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "0.0.0.0/0"
                    ],
                    "description": "List of inbound CIDRs for the API key.\nThe system making a request must come from one of the allowed CIDRs.\n",
                    "default": [
                      "0.0.0.0/0"
                    ]
                  },
                  "organizationRoles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "organizationOwner",
                        "organizationMember",
                        "projectCreator"
                      ],
                      "example": "organizationMember",
                      "description": "Organization roles assigned to the API key.\n\nTo learn more, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "description": "Resources are the resource level permissions associated with the API key.\n\nTo learn more about Organization Roles, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "roles"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "project",
                          "description": "Type of the resource.\n"
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "ffffffff-aaaa-1414-eeee-000000000000",
                          "description": "ID of the project.\n"
                        },
                        "roles": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "projectOwner",
                              "projectManager",
                              "projectViewer",
                              "projectDataReaderWriter",
                              "projectDataReader"
                            ]
                          },
                          "example": [
                            "projectDataReaderWriter",
                            "projectManager"
                          ],
                          "description": "Project Roles associated with the API key.\n\nTo learn more about Project Roles, see [Project Roles](https://docs.couchbase.com/cloud/projects/project-roles.html).\n"
                        }
                      }
                    },
                    "default": []
                  }
                }
              },
              "examples": {
                "createOrganizationOwnerAPIKey": {
                  "value": {
                    "name": "Organization Owner API Key",
                    "description": "Creates an API key with a Organization Owner role.",
                    "expiry": 720,
                    "allowedCIDRs": [
                      "8.8.8.8/32"
                    ],
                    "organizationRoles": [
                      "organizationOwner"
                    ],
                    "resources": []
                  }
                },
                "createProjectOwnerAPIKey": {
                  "value": {
                    "name": "Project Owner API Key",
                    "description": "Creates an API key with a Project Owner role.",
                    "expiry": 720,
                    "allowedCIDRs": [
                      "8.8.8.8/32"
                    ],
                    "organizationRoles": [
                      "organizationMember"
                    ],
                    "resources": [
                      {
                        "id": "ffffffff-aaaa-1414-eeee-000000000000",
                        "roles": [
                          "projectOwner"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created an API key under an organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "token"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL",
                      "description": "The id is a unique identifier for an apiKey.\n"
                    },
                    "token": {
                      "type": "string",
                      "example": "QktxVUtFU1dKV1FlMmxwbzJBYXdnTVlRemFZdlRDZTg6eFh4dzU4JUYjekJVYWZPY3lqdUwwYkJoTjZSTmlzRWFIRHF0b1h4a08yazBpQjJ1bms1OW4yTUhAenRib3IhVQ==",
                      "description": "The Token is a confidential piece of information that is used to authorize requests made to v4 endpoints.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned when we are unable to decode the recevied payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "BadRequest": {
                    "value": {
                      "httpStatusCode": 400,
                      "code": 1000,
                      "message": "The request was malformed or invalid.",
                      "hint": "The request was malformed or invalid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "RateLimitExceeded": {
                    "value": {
                      "httpStatusCode": 429,
                      "code": 1004,
                      "message": "Oops! You've made too many requests. Please wait for time specified in the retryAfter header before trying again.",
                      "hint": "The number of requests allowed per API key has exceeded. Please retry after time specified in the retryAfter header has passed."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "description": "Lists all the API keys under an organization.\n\nOrganization Owners can list all the API keys inside the Organization.\n\nOrganization Members and Project Creators can list all the Project scoped API key for which they are Project Owner.\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Api Keys"
        ],
        "operationId": "listOrganizationAPIKeys",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Sets the page you would like to view.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "Sets the number of results you would like to have on each page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "description": " Sets the order of how you would like to sort the results and the key you would like to order by. Valid fields to sort the results are: **name**, **expiry**, **description**.",
            "example": [
              "name"
            ],
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sortDirection",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "The order in which the items will be sorted.",
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed all the apikeys under an organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "description",
                          "expiry",
                          "allowedCIDRs",
                          "organizationRoles",
                          "resources",
                          "audit"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL",
                            "description": "The id is a unique identifier for an apiKey.\n"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the API key.\n",
                            "example": "Production"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description for the API key.\n",
                            "example": "API key to manage production Capella Cluster.",
                            "default": ""
                          },
                          "expiry": {
                            "type": "number",
                            "format": "float",
                            "default": 180,
                            "description": "Expiry of the API key in number of days.\nIf set to -1, the token will not expire.\n"
                          },
                          "allowedCIDRs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "0.0.0.0/0"
                            ],
                            "description": "List of inbound CIDRs for the API key.\nThe system making a request must come from one of the allowed CIDRs.\n",
                            "default": [
                              "0.0.0.0/0"
                            ]
                          },
                          "organizationRoles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "organizationOwner",
                                "organizationMember",
                                "projectCreator"
                              ],
                              "example": "organizationMember",
                              "description": "Organization roles assigned to the API key.\n\nTo learn more, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n"
                            }
                          },
                          "resources": {
                            "type": "array",
                            "description": "Resources are the resource level permissions associated with the API key.\n\nTo learn more about Organization Roles, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "roles"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "default": "project",
                                  "description": "Type of the resource.\n"
                                },
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "ffffffff-aaaa-1414-eeee-000000000000",
                                  "description": "ID of the project.\n"
                                },
                                "roles": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "projectOwner",
                                      "projectManager",
                                      "projectViewer",
                                      "projectDataReaderWriter",
                                      "projectDataReader"
                                    ]
                                  },
                                  "example": [
                                    "projectDataReaderWriter",
                                    "projectManager"
                                  ],
                                  "description": "Project Roles associated with the API key.\n\nTo learn more about Project Roles, see [Project Roles](https://docs.couchbase.com/cloud/projects/project-roles.html).\n"
                                }
                              }
                            },
                            "default": []
                          },
                          "audit": {
                            "type": "object",
                            "required": [
                              "createdBy",
                              "createdAt",
                              "modifiedBy",
                              "modifiedAt",
                              "version"
                            ],
                            "properties": {
                              "createdBy": {
                                "type": "string",
                                "description": "The user who created the resource; this will be a UUID4 ID for standard\nusers and will be a string such as \"internal-support\" for internal\nCouchbase support users.\n",
                                "example": "ffffffff-aaaa-1414-eeee-000000000000"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The RFC3339 timestamp associated with when the resource was initially\ncreated.\n",
                                "example": "2021-09-01T12:34:56Z"
                              },
                              "modifiedBy": {
                                "type": "string",
                                "description": "The user who last modified the resource; this will be a UUID4 ID for\nstandard users and wilmal be a string such as \"internal-support\" for\ninternal Couchbase support users.\n",
                                "example": "ffffffff-aaaa-1414-eeee-000000000000"
                              },
                              "modifiedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The RFC3339 timestamp associated with when the resource was last modified.\n",
                                "example": "2021-09-01T12:34:56Z"
                              },
                              "version": {
                                "type": "integer",
                                "description": "The version of the document. This value is incremented each time the\nresource is modified.\n",
                                "example": 1
                              }
                            }
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "object",
                      "required": [
                        "pages",
                        "hrefs"
                      ],
                      "properties": {
                        "pages": {
                          "type": "object",
                          "required": [
                            "page",
                            "last",
                            "perPage",
                            "totalItems"
                          ],
                          "properties": {
                            "page": {
                              "description": "Current page of results, starting from page 1.",
                              "type": "integer",
                              "example": 2
                            },
                            "next": {
                              "description": "Number of the next page of results. Not set on the last page.\n",
                              "type": "integer",
                              "example": 3
                            },
                            "previous": {
                              "description": "Number of the previous page of results. Not set on the first page.\n",
                              "type": "integer",
                              "example": 1
                            },
                            "last": {
                              "type": "integer",
                              "description": "Number of the last page of results.",
                              "example": 10
                            },
                            "perPage": {
                              "type": "integer",
                              "description": "Number of items displayed in each page.",
                              "example": 10
                            },
                            "totalItems": {
                              "type": "integer",
                              "description": "Total items found by the given query.",
                              "example": 10
                            }
                          }
                        },
                        "hrefs": {
                          "type": "object",
                          "required": [
                            "first",
                            "last",
                            "previous",
                            "next"
                          ],
                          "properties": {
                            "first": {
                              "type": "string",
                              "format": "uri",
                              "description": "The base URL, endpoint, and path parameters required to fetch the first page of results.",
                              "example": "https://cloud.couchbase.com/v4/users?page=1&perPage=10"
                            },
                            "last": {
                              "type": "string",
                              "format": "uri",
                              "description": "The base URL, endpoint, and path parameters required to fetch the last page of results.",
                              "example": "https://cloud.couchbase.com/v4/users?page=1&perPage=10"
                            },
                            "previous": {
                              "type": "string",
                              "format": "uri",
                              "description": "The base URL, endpoint, and path parameters required to fetch the previous page of results.\nEmpty if there is no previous page.\n",
                              "example": "https://cloud.couchbase.com/v4/users?page=1&perPage=10"
                            },
                            "next": {
                              "type": "string",
                              "format": "uri",
                              "description": "The base URL, endpoint, and path parameters required to fetch the next page of results.\nEmpty if there is no next page.\n",
                              "example": "https://cloud.couchbase.com/v4/users?page=1&perPage=10"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned when we are unable to decode the recevied payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "BadRequest": {
                    "value": {
                      "httpStatusCode": 400,
                      "code": 1000,
                      "message": "The request was malformed or invalid.",
                      "hint": "The request was malformed or invalid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "RateLimitExceeded": {
                    "value": {
                      "httpStatusCode": 429,
                      "code": 1004,
                      "message": "Oops! You've made too many requests. Please wait for time specified in the retryAfter header before trying again.",
                      "hint": "The number of requests allowed per API key has exceeded. Please retry after time specified in the retryAfter header has passed."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/organizations/{organizationId}/apikeys/{ApiKeyId}": {
      "parameters": [
        {
          "name": "organizationId",
          "description": "The GUID4 ID of the organization.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "ffffffff-aaaa-1414-eeee-000000000000"
          }
        },
        {
          "name": "ApiKeyId",
          "description": "The ID (Access key) of the API key.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "ffffffffaaaa1414eeee000000000000"
          }
        }
      ],
      "get": {
        "summary": "Get API Key",
        "description": "Fetches the details of the given API key under an organization.\n\nOrganization Owners can get any API key inside the Organization.\n\nOrganization Members and Project Creator can get any Project scoped API key for which they are Project Owner.\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Api Keys"
        ],
        "operationId": "getOrganizationAPIKeyByAccessKey",
        "responses": {
          "200": {
            "description": "Successfully fetched the API key by its Access key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "description",
                    "expiry",
                    "allowedCIDRs",
                    "organizationRoles",
                    "resources",
                    "audit"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL",
                      "description": "The id is a unique identifier for an apiKey.\n"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the API key.\n",
                      "example": "Production"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description for the API key.\n",
                      "example": "API key to manage production Capella Cluster.",
                      "default": ""
                    },
                    "expiry": {
                      "type": "number",
                      "format": "float",
                      "default": 180,
                      "description": "Expiry of the API key in number of days.\nIf set to -1, the token will not expire.\n"
                    },
                    "allowedCIDRs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "0.0.0.0/0"
                      ],
                      "description": "List of inbound CIDRs for the API key.\nThe system making a request must come from one of the allowed CIDRs.\n",
                      "default": [
                        "0.0.0.0/0"
                      ]
                    },
                    "organizationRoles": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "organizationOwner",
                          "organizationMember",
                          "projectCreator"
                        ],
                        "example": "organizationMember",
                        "description": "Organization roles assigned to the API key.\n\nTo learn more, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n"
                      }
                    },
                    "resources": {
                      "type": "array",
                      "description": "Resources are the resource level permissions associated with the API key.\n\nTo learn more about Organization Roles, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).\n",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "roles"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "default": "project",
                            "description": "Type of the resource.\n"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "ffffffff-aaaa-1414-eeee-000000000000",
                            "description": "ID of the project.\n"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "projectOwner",
                                "projectManager",
                                "projectViewer",
                                "projectDataReaderWriter",
                                "projectDataReader"
                              ]
                            },
                            "example": [
                              "projectDataReaderWriter",
                              "projectManager"
                            ],
                            "description": "Project Roles associated with the API key.\n\nTo learn more about Project Roles, see [Project Roles](https://docs.couchbase.com/cloud/projects/project-roles.html).\n"
                          }
                        }
                      },
                      "default": []
                    },
                    "audit": {
                      "type": "object",
                      "required": [
                        "createdBy",
                        "createdAt",
                        "modifiedBy",
                        "modifiedAt",
                        "version"
                      ],
                      "properties": {
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created the resource; this will be a UUID4 ID for standard\nusers and will be a string such as \"internal-support\" for internal\nCouchbase support users.\n",
                          "example": "ffffffff-aaaa-1414-eeee-000000000000"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The RFC3339 timestamp associated with when the resource was initially\ncreated.\n",
                          "example": "2021-09-01T12:34:56Z"
                        },
                        "modifiedBy": {
                          "type": "string",
                          "description": "The user who last modified the resource; this will be a UUID4 ID for\nstandard users and wilmal be a string such as \"internal-support\" for\ninternal Couchbase support users.\n",
                          "example": "ffffffff-aaaa-1414-eeee-000000000000"
                        },
                        "modifiedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The RFC3339 timestamp associated with when the resource was last modified.\n",
                          "example": "2021-09-01T12:34:56Z"
                        },
                        "version": {
                          "type": "integer",
                          "description": "The version of the document. This value is incremented each time the\nresource is modified.\n",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "createOrganizationOwnerAPIKey": {
                    "value": {
                      "id": "IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL",
                      "name": "Organization Owner API Key",
                      "description": "Creates an API key with an Organization Owner role.",
                      "expiry": 720,
                      "allowedCIDRs": [
                        "8.8.8.8/32"
                      ],
                      "organizationRoles": [
                        "organizationOwner"
                      ],
                      "resources": [],
                      "audit": {
                        "createdBy": "ffffffff-aaaa-1414-eeee-000000000000",
                        "createdAt": "2021-09-01T12:34:56Z",
                        "modifiedBy": "",
                        "modifiedAt": "2021-09-01T12:34:56Z",
                        "version": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "RateLimitExceeded": {
                    "value": {
                      "httpStatusCode": 429,
                      "code": 1004,
                      "message": "Oops! You've made too many requests. Please wait for time specified in the retryAfter header before trying again.",
                      "hint": "The number of requests allowed per API key has exceeded. Please retry after time specified in the retryAfter header has passed."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete API Key",
        "description": "Deletes the given API key under an organization.\n\nOrganization Owners can delete any API key inside the Organization.\n\nOrganization Members and Project Creator can delete any Project scoped API key for which they are Project Owner.\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Api Keys"
        ],
        "operationId": "deleteOrganizationAPIKey",
        "responses": {
          "204": {
            "description": "Successfully deleted the API key by its Access key."
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "RateLimitExceeded": {
                    "value": {
                      "httpStatusCode": 429,
                      "code": 1004,
                      "message": "Oops! You've made too many requests. Please wait for time specified in the retryAfter header before trying again.",
                      "hint": "The number of requests allowed per API key has exceeded. Please retry after time specified in the retryAfter header has passed."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/organizations/{organizationId}/apikeys/{ApiKeyId}/rotate": {
      "parameters": [
        {
          "name": "organizationId",
          "description": "The GUID4 ID of the organization.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "ffffffff-aaaa-1414-eeee-000000000000"
          }
        },
        {
          "name": "ApiKeyId",
          "description": "The ID (Access key) of the API key.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "ffffffffaaaa1414eeee000000000000"
          }
        }
      ],
      "post": {
        "summary": "Rotate API Key",
        "description": "Rotate the secret of a given API key under an organization.\n\nOrganization Owners can rotate any API key inside the Organization.\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Api Keys"
        ],
        "operationId": "postOrganizationAPIKeyRotate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "secret": {
                    "type": "string",
                    "description": "A secret associated with API key. One has to follow the secret key policy, such as allowed characters and a length of 64 characters. \nIf this field is left empty, a secret will be auto-generated.\n",
                    "example": "jawuXxSXYaWdr@uSSphmV1aJ4siKKcHHXnhhtbE8h8H!O2nbIQJ62M40stDATiBp"
                  }
                }
              },
              "examples": {
                "rotateOrganizationOwnerAPIKey": {
                  "value": {
                    "secret": "GaC4FQLCoUqoKUMBvl6BgRK1Ivqu5yF8OkDBhnP%#CH%S4T@bTVUdP#rY#VSicbx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully rotated the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "secretKey"
                  ],
                  "properties": {
                    "secretKey": {
                      "type": "string",
                      "example": "GaC4FQLCoUqoKUMBvl6BgRK1Ivqu5yF8OkDBhnP%#CH%S4T@bTVUdP#rY#VSicbx",
                      "description": "The Secret key is a confidential piece of information that is paired with the Access key.\nThe API key is made of an Access key and a Secret key.\n"
                    }
                  }
                },
                "examples": {
                  "rotateOrganizationOwnerAPIKey": {
                    "value": {
                      "secretKey": "GaC4FQLCoUqoKUMBvl6BgRK1Ivqu5yF8OkDBhnP%#CH%S4T@bTVUdP#rY#VSicbx"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "httpStatusCode": 404,
                      "code": 3000,
                      "message": "The server cannot find the resource.",
                      "hint": "The server cannot find the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred in the server while processing this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "httpStatusCode": 500,
                      "code": 10000,
                      "message": "An internal server error occurred.",
                      "hint": "Something went wrong on our end. We are actively investigating the issue."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/organizations/{organizationId}/projects": {
      "parameters": [
        {
          "name": "organizationId",
          "description": "The GUID4 ID of the organization.\n",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "ffffffff-aaaa-1414-eeee-000000000000"
          }
        }
      ],
      "post": {
        "summary": "Create Project",
        "description": "Creates a new project under the organization.\n\nIn order to access this endpoint, the provided API key must have at least one of the following roles:\n- Organization Owner\n- Project Creator\n\nTo learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).\n",
        "tags": [
          "Projects"
        ],
        "operationId": "postProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the project (up to 128 characters).",
                    "maxLength": 128,
                    "example": "My Project"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short description of the project (up to 256 characters).",
                    "maxLength": 256,
                    "example": "My awesome project"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a project under the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "ffffffff-aaaa-1414-eeee-000000000000",
                      "description": "The ID of the project created."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned when we are unable to decode the recevied payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "BadRequest": {
                    "value": {
                      "httpStatusCode": 400,
                      "code": 1000,
                      "message": "The request was malformed or invalid.",
                      "hint": "The request was malformed or invalid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The client does not have the necessary permissions to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccessForbidden": {
                    "value": {
                      "httpStatusCode": 403,
                      "code": 1002,
                      "message": "Access Denied.",
                      "hint": "Your access to the requested resource is denied. Please make sure you have the necessary permissions to access the resource."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnprocessableContent": {
                    "value": {
                      "httpStatusCode": 422,
                      "code": 1005,
                      "message": "The server can't process the content.",
                      "hint": "The server can't process the content."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned when the client exceeds the rate limit for the given APIKey.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "description": "The amount of time, in seconds, that the client should wait before sending subsequent requests.",
                  "example": "Retry-After: 60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "httpStatusCode",
                    "message",
                    "code",
                    "hint"
                  ],
                  "properties": {
                    "httpStatusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "integer"
[...]
